body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

.red{
  width: 80px;
  background-color: red;
}
.green{
  width: 100%;
}
.blue{
  width: 80px;
  background-color: blue;

}
.red1{
  width: 80px;
  background-color: red;
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}
.blue1{
  width: 80px;
  background-color: blue;
}
.green2{
  width: 100%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red2{
  height: 40px;
  width: 40px;
  background-color: red;
}
.red3{
  background-color: red;
  width: 100%;
}
.blue3{
  width: 150px;
  background-color: blue;
}
.red4{
  background-color: red;
  width: 80px;
}
.blue4{
  display: flex;
  background-color: blue;
  width: 100% ;
  height: 20px;
}
.blue04{
  display: flex;
  background-color: blue;
  width: 100% ;
  height: 20px;
}
.empty{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.yellow{
  width: 5%;
  background-color: green;
}
.empty1{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: yellow;
}
.empty2{
  background-color: yellow;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.yellow1{
  width: 40px;
  background-color: green;
  
}



/* TODO: Add CSS for the rest of your solution below */
